#login-box {
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width: 50%;
    padding: 30px;
    margin: 0 auto;
}

#sign-in-button {
    margin: 10px auto;
    color: white;
}

.hidden {
    display: none;
}

.bootbox .modal-header {
    flex-direction: row-reverse;
}

.favourite-area {
    cursor: pointer;
}

.favourite-area img {
    transform: rotateZ(45deg);

}

.nav-categories {
    cursor: pointer;
}